In [1]:
import pandas as pd 
import numpy as np

In [2]:
df=pd.read_csv('Advertising.csv')

In [3]:
df.head()

   Unnamed: 0     TV  Radio  Newspaper  Sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  200 non-null    int64
 1   TV          200 non-null    float64
 2   Radio       200 non-null    float64
 3   Newspaper   200 non-null    float64
 4   Sales       200 non-null    float64
dtypes: float64(4), int64(1)
memory usage: 7.9 KB

In [5]:
df=df.drop('Unnamed: 0',axis=1)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB

In [7]:
df.duplicated().sum()

0

In [8]:
df.corr()

                 TV     Radio  Newspaper     Sales
TV         1.000000  0.054809   0.056648  0.782224
Radio      0.054809  1.000000   0.354104  0.576223
Newspaper  0.056648  0.354104   1.000000  0.228299
Sales      0.782224  0.576223   0.228299  1.000000

In [9]:
df.describe()

               TV       Radio   Newspaper       Sales
count  200.000000  200.000000  200.000000  200.000000
mean   147.042500   23.264000   30.554000   14.022500
std     85.854236   14.846809   21.778621    5.217457
min      0.700000    0.000000    0.300000    1.600000
25%     74.375000    9.975000   12.750000   10.375000
50%    149.750000   22.900000   25.750000   12.900000
75%    218.825000   36.525000   45.100000   17.400000
max    296.400000   49.600000  114.000000   27.000000

In [10]:
df.columns

Index(['TV', 'Radio', 'Newspaper', 'Sales'], dtype='object')

In [11]:
df.shape

(200, 4)

In [12]:
x=df.drop('Sales',axis=1)

In [13]:
x.shape

(200, 3)

In [14]:
y=df['Sales']

In [15]:
y.shape

(200,)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.8,random_state=1)

In [18]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((160, 3), (40, 3), (160,), (40,))

In [19]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()

In [20]:
x_train=ss.fit_transform(x_train)

In [21]:
x_test=ss.fit_transform(x_test)

In [22]:
from sklearn.linear_model import LinearRegression

In [23]:
lr=LinearRegression()

In [24]:
lr.fit(x_train,y_train)

LinearRegression()

In [25]:
y_pred_lr=lr.predict(x_test)

In [26]:
from sklearn.metrics import mean_absolute_error,mean_absolute_percentage_error,r2_score,mean_squared_error

In [27]:
mean_absolute_error(y_test,y_pred_lr)

1.6202911224280172

In [28]:
mean_absolute_percentage_error(y_test,y_pred_lr)

0.12765880896793985

In [29]:
r2_score(y_test,y_pred_lr)

0.8052666981717695

In [30]:
mean_squared_error(y_test,y_pred_lr)

3.6170140777347823

In [31]:
from sklearn.neighbors import KNeighborsRegressor

In [32]:
knn=KNeighborsRegressor()

In [33]:
knn.fit(x_train,y_train)

KNeighborsRegressor()

In [34]:
y_pred_knn=knn.predict(x_test)

In [35]:
mean_absolute_error(y_test,y_pred_knn)

1.152

In [36]:
mean_absolute_percentage_error(y_test,y_pred_knn)

0.09055606227828093

In [37]:
r2_score(y_test,y_pred_knn)

0.8970700948998123

In [38]:
mean_squared_error(y_test,y_pred_knn)

1.9118399999999993